body {
    font-family: 'Roc Grotesk';
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* =======================NAVBAR======================= */

.nav-wrapper {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
    width: 95%;
}

.nav-logo {
    height: 30px;
}

.nav-right .menu {
    width:80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-line {
    width:40px;
    height: 1.5px;
    border-radius: 100px;
    background-color: #000;
    z-index: 2;
    position: relative;
}

.menu-line::before {
    content:'';
    width:100%;
    height:1.5px;
    background-color:#000;
    position: absolute;
    top: -10px;
    left: 0px;
}

.menu-line::after {
    content:'';
    width:100%;
    height:1.5px;
    background-color:#000;
    position: absolute;
    top: 10px;
    left: 0px;
}

.checkbox {
    display: none;
}


/* ====================HERO SECTION==================== */

.hero {
    height: 100vh;
    background:url(../images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}



.hero-heading-primary {
    width: 90%;
    font-size: 80px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
}

.hero-heading-secondary {
    font-size: 26px;
    line-height: 40px;
    color: #fff;
    margin: 0px;
    margin-bottom: 30px;
    font-weight: 500;
}

.btn-primary {
    font-size: 20px;
    padding: 20px 40px;
    border-radius:8px;
    border: 2px solid #FF4712;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    transition: .5s;
}

.btn-primary:hover {
    background-color: #FF4712;
}

/* ====================STARTED SECTION==================== */

.started-content {
    width: 1000px;
    text-align: center;
    color: #000;
    margin: auto;
    padding: 100px 0;
}

.started-heading-primary {
    font-size:56px;
    line-height:70px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.started-heading-secondary {
    font-size:24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-primary-dark {
    color: #000;
}
.btn-primary-dark:hover {
    color: #fff;
}

/* ====================ABOUT SECTION==================== */

.about {
    overflow: hidden;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-left {
    background: url(../images/about-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width:500px;
    padding: 200px;
    margin-left: -200px;
}

.about-heading-primary {
    font-size:48px;
    line-height:60px;
    margin: 0px;
    text-transform: uppercase;
}

.about-para {
    font-size:24px;
}

.about-right {
    width: 500px;
}

.about-right-img {
    width: 150%;
    margin-left: -50px;
}

/* ====================SPECIALITIES SECTION==================== */

.specialities {
    margin:150px 0px;
}

.specialities-heading-primary {
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
}

.specialities-box-container {
    display: flex;
    justify-content: space-between;
}

.specialities-box {
    width:180px;
    text-align: center;
}

.specialities-box-img {
    padding:0px 20px;
}

.specialities-box-img img {
    width:100%;
    
}

.specialities-title {
    font-size:18px;
    font-weight: 500;
}

/* ====================WHAT-WE-DO SECTION==================== */

.whatwedo-heading-primary {
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
}

.whatwedo-box-container {
    display: flex;
    justify-content: space-between;
}

.whatwedo-col {
    display: flex;
    flex-direction: column;
}

.whatwedo-col.reversed {
    display: flex;
    flex-direction: column-reverse;
}

.whatwedo-box1 {
    width:380px;
    height:480px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.whatwedo-box1 img {
    width:100%;
}

.whatwedo-box2 {
    width:380px;
    height:230px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.whatwedo-box-heading {
    font-size:20px;
    font-weight:500;
}

.bg1 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img1.jpg);
}

.bg2 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img2.jpg);
}

.bg3 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img3.jpg);
}

.bg4 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img4.jpg);
}

.bg5 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img5.jpg);
}
.bg6 {
    background:linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.01)), url(../images/img6.jpg);
}

.whatwedo-box-heading {
    font-size:30px;
    font-weight:500;
    color:#fff;
    padding: 20px;
    margin: 0px;
}

/* ====================BLOGS SECTION==================== */

.blogs {
    margin:200px 0px;
}

.blogs-content {
    display: flex;
}

.blogs-heading-primary {
    font-size:48px;
    text-transform: uppercase;
    margin:0px;
    line-height: 60px;

}

.blogs-left {
    width:400px;
    padding:200px;
    margin-left: -200px;
    background:url(../images/about-bg.svg);
    background-size: contain;
    background-repeat:no-repeat;
    
}

.blogs-left img {
    width:150px;
}

.blogs-right {
    width:600px;
    margin-left: -100px;
    display: flex;
    overflow-x: scroll;
}

.blogs-col {
    width:300px;
}

.blogs-img img {
    width: 100%;
}

.blogs-title {
    margin:16px 0;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}


.blogs-txt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:5;
    margin:0;
}

.blog-link {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin:16px 0;
}

.blogs-inner-container {
    display: flex;
    grid-column-gap: 30px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background:#f1f1f1;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.blogs-right::-webkit-scrollbar {
    width: 10px;
}

.blogs-right::-webkit-scrollbar-track {
    background:#E9F4FC;
    border-radius: 10px;
}

.blogs-right::-webkit-scrollbar-thumb {
    background: #021E42;
    border-radius: 10px;
}

/* ====================CUSTOMERS SECTION==================== */

.customers {
    background:#E9F4FC;
    padding:100px 0;
}

.customers-heading-primary {
    font-size:48px;
    text-transform: uppercase;
    margin:0px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.customers-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customers-logo {
    width:120px;
}

.customers-logo img {
    width: 100%;
}

/* ====================CONTACT US SECTION==================== */

.contact {
    padding: 140px 0;
    background:#E9F4FC;
}

.contact-heading-primary {
    font-size:48px;
    text-transform: uppercase;
    margin:0px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.contact-content {
    display: flex;
    column-gap: 100px;
    justify-content: space-between;
}

.contact-left {
    width: 700px;
}

.contact-right {
    width: 500px
}

.contact-left-heading,
.contact-right-heading {
    text-align: center;
    font-size:32px;
    font-weight: 500;
}

.input-container {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.input-container input {
    width:-webkit-fill-available;
    height: 48px;
    border-radius:8px;
    font-size:16px;
    padding: 10px;
    border: none;
}

.contact-form textarea {
    display: block;
    width: -webkit-fill-available;
    background:#fff;
    border: none;
    border-radius: 8px;
    margin:30px 0;
    padding:10px;
    font-size:16px;
}

.contact-right-content {
    padding:0 80px
}

.contact-right-content > p {
    margin-bottom: 30px;
}

.contact-address,
.contact-number,
.contact-time {
    margin:0px;
    font-size:20px
}

/* ====================NEWSLETTER SECTION==================== */

.newsletter {
    padding:100px 0;
}

.newsletter-content {
    display: flex;
    justify-content: space-between;
}

.newsletter-title {
    font-size:40px;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0px;
}

.newsletter-txt {
    font-size:20px;
    line-height:30px;
    margin-top:10px;
}

.newsletter-left {
    width:600px
}

.newsletter-right {
    width:500px;
}

.newsletter-right form {
    display: flex;
    justify-content: space-between;
}

.subscribe-input {
    width:250px;
    height:46px;
    border:2px solid #021E42;
    padding:20px;
    border-radius:10px;
    font-size:24px;
}

/* ====================FOOTER==================== */

.footer {
    background:#021E42;
    padding:100px 0px;
    color:#fff;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
}

.footer-upper-left img {
    height: 30px;
}

.footer-links a{
    font-size:16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-right:30px;
    margin-top:30px;
    display: inline-block;
    text-transform: capitalize;
}

.footer-upper-right {
    display: flex;
    justify-content: space-between;
}

.footer-upper-right div {
    width:40%;
}

.contact-time {
    font-weight: 500;
    margin:0px;
}

.contact-address,
.contact-number {
    margin:0px;
    margin-bottom: 10px;
}

.footer-lower {
    text-align: center;
}

.footer-lower p {
    font-size:18px;
    margin-top:100px;
    margin-bottom: 0px;
}





